@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-color: white;
    --hover-width: 95%;
    --other-width: 5%;
    --speed: 1000ms;
    --font: 'Roboto', sans-serif;
    --red-color: #E74C3C;
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 6rem;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.details {
    display: flex;
    justify-content: flex-start;
}

.info {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.split {
    position: relative;
    width: 50%;
    height: 100%;
}

.tokyo-name {
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%, 50%) rotate(-90deg);
    z-index: 1;
    font-size: 6rem;
    color: var(--red-color);
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.split.left {
    left:0;
    padding: 10rem;
    
}
.split.right {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.5s ease-in-out;

}

.split.right > .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.bar {
    background-color: var(--red-color);
    height: 100vh;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
}
.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}


.hover-right .right {
    width: var(--hover-width);
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    transform: rotate(90deg);
}
.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;

}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }
  
.circle {
    background-color: var(--bg-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4 ease;
    transform: rotate(-90deg);
    margin-left: 20px;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: var(--bg-color);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .tokyo-name {
        font-size: 3rem;
        top: 40%;
    }
}